{% extends 'core/base.html' %}

{% block title %} Registro {% endblock title %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container forms bg-light">
    <div class="col-xxl-1"></div>
    <div class="col-xxl-10">
        
        <h3>Registro</h3><br>

        <form action="" method="post">
            {% csrf_token %}

            {{ form | crispy }}
            <button type="submit">Registrar</button>
        </form>
    </div>
    <div class="col-xxl-1"></div>
</div>

{% endblock content %}