{% extends 'core/base.html' %}

{% block title %} Inicio {% endblock title %}


{% block content %}
<div class="container forms bg-light">
    <br>
    <H1>    PROYECTO LABS</H1><br>

    <div class="complemento container-fluid">BIENVENIDO a mi Proyecto Laboratorios, este proyecto tiene el objetivo de simular un sistema de 
        administración de producción para distintos laboratorios donde se fabrican productos farmacéuticos. Como usuario tienes disponible para 
        probar un CRUD realizado en Python con Django para poder crear, modificar o eliminar un laboratorio. Adicionalmente puede utilizar un sistema de 
        registro y login que habilitará las los permisos para crear, actualizar y eliminar un laboratorio.
    </div><br>

    <div class="complemento container-fluid">El formulario de registro no solicitará comprobar ninguno de los datos personales por lo que puede 
        ingresar cualquier información que estime conveniente si no desea ingresar sus datos personales.
    </div><br>
</div>
{% endblock content %}