{% extends 'core/base.html' %}

{% block title %} Inicio {% endblock title %}


{% block content %}
<div class="container forms bg-light">
    <br>
    <H1>    PROYECTO LABS</H1><br>

    <div class="complemento container-fluid">BIENVENIDO a mi Proyecto Labs, este proyecto tiene el objetivo de simular un sistema de administración
        de laboratorios donde tiene disponible para probar un CRUD realizado en Python para poder crear, modificar o eliminar 
        un laboratorio. Adicionalmente puede utilizar un sistema de registro y login que habilitará las opciones de crear, 
        actualizar y eliminar un laboratorio.
    </div><br>

    <div class="complemento container-fluid">El formulario de registro no solicitará comprobar ninguno de los datos personales por lo que puede 
        ingresar cualquier información que estime conveniente si no desea ingresar sus datos personales.
    </div><br>
</div>
{% endblock content %}