{% extends 'core/base.html' %}

{% block title %} Laboratorios {% endblock title %}

{% block content %}
<div class="container forms bg-light">
  <table class="table">
    <thead class="table-info">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Pais</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
    {% for laboratorio in laboratorios %}
      <tr>
        <th scope="row">{{laboratorio.nombre}}</th>
        <td>{{laboratorio.ciudad}}</td>
        <td>{{laboratorio.pais}}</td>
        <td><a href="/update_labs/{{laboratorio.pk}}"><button>Actualizar</button></a></td>
        <td><a href="/delete_labs/{{laboratorio.pk}}"><button>Eliminar</button></a></td>
       </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<br>
<div class="container forms bg-light" role="alert">¿Desea agregar un Laboratorio?</div>
<div class="container forms bg-light"><a href="{% url 'create_labs' %}"><-- Ir a la creación de laboratorios</a></div>
{% endblock content %}